VMAGENT_promscrape_config={{ vmagent_promscrape_config }}
VMAGENT_remoteWrite_tmpDataPath={{ vmagent_remoteWrite_tmpDataPath }}
VMAGENT_remoteWrite_url={{ vmagent_remoteWrite_url }}
VMAGENT_promscrape_suppressScrapeErrors={{ vmagent_promscrape_suppressScrapeErrors }}
VMAGENT_remoteWrite_relabelConfig={{ vmagent_remoteWrite_relabelConfig }}
VMAGENT_influxTrimTimestamp={{ vmagent_influxTrimTimestamp }}
VMAGENT_http_maxGracefulShutdownDuration={{ vmagent_http_maxGracefulShutdownDuration }}
