#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
global:
  {{ vmagent_global | to_nice_yaml(indent=2) | indent(2, False) }}

scrape_configs:
  {{ vmagent_scrape_configs | to_nice_yaml(indent=2) | indent(2, False) }}
