{{ ansible_managed | comment }}

# req.
VMAGENT_promscrape_config={{ vmagent_promscrape_config }}
VMAGENT_remoteWrite_tmpDataPath={{ vmagent_remote_write_tmp_data_path }}
VMAGENT_remoteWrite_url='{{ vmagent_remote_write_url }}'

# opt.
{% if vmagent_promscrape_suppress_scrape_errors %}
VMAGENT_promscrape_suppressScrapeErrors={{ vmagent_promscrape_suppress_scrape_errors }}
{% endif %}
{% if vmagent_remote_write_url_relabel_config | length > 0 %}
# relabel per url. same order as remoteWrite_url
VMAGENT_remoteWrite_urlRelabelConfig='{{ vmagent_remote_write_url_relabel_config }}'
{% endif %}
{% if vmagent_remote_write_relabel_config | length > 0 %}
# relabel for all url
VMAGENT_remoteWrite_relabelConfig='{{ vmagent_remote_write_relabel_config }}'
{% endif %}
